# 「ことばみまもり」( https://words-watching-app.na0aaooq.com/ )のデプロイスクリプトの定義ファイル
#
# デプロイ先のS3バケット名を記載する
#   PORTFOLIO_SITE_S3_BUKKET_NAME="s3://xxxxxxxxxxxxxxx
PORTFOLIO_SITE_S3_BUKKET_NAME="s3://xxxxxxxxxxxxxxx"
